.DS_Store
**/.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Next.js
/.next/
/out/
/node_modules/
next-env.d.ts

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
